# Virtual environment
.venv/

# Models directory
models/

uploads/

vector_store/

generated_images/

# HuggingFace cache
.cache/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db